.bestsellers {
    margin-top: 120px;
}

.bestsellers-products {
    display: flex;
    justify-content: space-between;
}

.bestsellers-products-item {
    flex: 0 1 25%;
    flex-direction: column;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

    &__text {
        margin: 0 20px;
    }

    &__img {

        img {
            max-width: 270px;
            margin: auto;
            display: block;
        }
    }

    &__stars {
        display: inline-flex;

        img {}
    }

    &__top {
        // display: flex;
        // flex-direction: column;
    }

    &__line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        color: $silver;
    }


    &__bottom {
        display: flex;
    }

    &__size {
        font: $middle-book;
    }

    &__reviews {
        font: $small-book;
    }
}