.cards {
    margin-top: 100px;


}

.cards-items {
    display: grid;
    grid-template-columns: 511px 511px 511px;
    gap: 30px;


}

.cards-item {
    color: #141414;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    // flex-direction: row-reverse;
    position: relative;
    overflow: hidden;
    transition: all .3s;

    &__text {
        padding: 30px 30px;
        flex-basis: 45%;
        z-index: 5;
    }

    // &__bg-container {
    //     flex: 1 0 50%;
    // }

    &__bg-img {
        // flex-basis: 25%;
        position: absolute;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        // background-position: center;
        background-position: right center;
        padding-top: 50px;
        transition: all .3s;
        // z-index: 9;

        &:hover {
            background-position: right ;
            transform: scale(1.2);
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        color: #000;

        &::after {
            content: "";
            background-color: $tuliptree;
            height: 1px;
            width: 68px;
            position: relative;
            top: 15px;
            display: block;

        }
    }

    &__list {
        padding: 45px 0 30px 9px;
    }

    &__li {
        font-weight: 500;
        font-size: 18px;
        line-height: 34px;
        color: #000;

        &:before {
            content: "\2022";
            font-weight: bold;
            color: $tuliptree;
            display: inline-block;
            width: 6px;
            height: 6px;
            position: relative;
            right: 14px;
        }

        &:not(:first-child) {
            padding-top: 10px;
        }

    }
}