.cards {
    margin-top: 100px;
}

.cards-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
    gap: 30px;
}

.cards-item {
    color: #141414;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 12px $tuliptree;
    }

    &__text {
        padding: 6px 30px;
        width: 50%;
        z-index: 5;
    }



    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        color: #000;
        @include strip;
    }

    &__list {
        padding: 45px 0 30px 9px;
    }

    &__li {
        font-weight: 500;
        font-size: 18px;
        line-height: 34px;
        color: #000;
        transition: all .5s ease;
        cursor: pointer;
        text-transform: capitalize;

        &:before {
            content: "\2022";
            font-weight: bold;
            color: $tuliptree;
            display: inline-block;
            width: 6px;
            height: 6px;
            position: relative;
            right: 14px;
        }

        &:hover::before {
            content: "\2022";
            font-weight: bold;
            color: red;
            display: inline-block;
            width: 6px;
            height: 6px;
            position: relative;
            right: 14px;
        }

        &:not(:first-child) {
            padding-top: 10px;
        }

        a {
            color: #000;
        }
    }

    &__img {
        width: 50%;
        // overflow: hidden;

        img {
            transition: transform .5s ease-in-out;
        }

        &:hover img {
            transform: scale(2) rotate(5deg);
        }

    }


}

@media(min-width: 768px) {
    .cards {
        .cards-item__tablet-img {
            display: none;

        }
    }
}

@media(max-width: 768px) {
    .cards {
        .cards-items {
            grid-template-columns: repeat(auto-fill, minmax(100%, 3fr));
        }

        .cards-item__bg-img {
            display: none;
        }

        .cards-item {
            flex-direction: column-reverse;
            align-items: center;
        }

        .cards-item__tablet-img {
            flex-basis: 50%;
            margin: 0 auto;

        }

        .cards-item__text {
            text-align: center;
        }

        .cards-item__title::after {
            margin: 0 auto;
        }

        .cards-item__list {
            padding: 24px 0 0 9px;
        }
    }
}

@media(max-width: 600px) {
    .cards-item__tablet-img {


        img {
            height: 150px;
        }
    }
}