.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.1s ease;
    z-index: 999;

    &__first-line {
        padding: 25px 0;
        background-color: $codgray;
    }

    &__container {
        align-items: center;
    }

    &__left {
        grid-column: 10 span;
    }

    &__right {
        grid-column: 2 span;
    }

    &__profile {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;

        img {
            height: 100%;
        }
    }

    .icon-person {

        background: url(../img/sprite.svg#person) no-repeat;
        background-repeat: no-repeat;
        position: relative;
        display: block;
        width: 74px;
        height: 27px;
        transition: .3s ease-in;
 
        &:hover {
            background-image: url('../img/sprite.svg#person-hover');

        }
    }

    &__profile-name {
        flex-basis: 47%;
        color: #fff;
        transition: .3s ease-in;

        &:hover {
            color: $tuliptree;
        }
    }

    &__second-line {
        background: #ECF1F2;
    }

    &__left-second {
        grid-column: 8 span;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__right-second {
        grid-column: 4 span;
        display: flex;
        justify-content: space-between;
    }


    &__second-line {
        align-items: center;
    }

    &__logo {
        img {
            width: 190px;
        }
    }



    &__search-field {
        position: relative;
        width: 377px;
        margin: auto;
        margin-left: 158px;
        &::after {
            content: "";
            background-image: url('../img/search.png');
            height: 11.5px;
            width: 11.5px;
            position: absolute;
            bottom: 18px;
            left: 25px;
        }

        input {

            &:active {
                border: 1px solid $tuliptree;
            }

            &:focus {
                border: 1px solid $tuliptree;
            }
        }

    }

    &__location {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 17px;
            height: 24px;
            object-fit: cover;
        }
    }

    .icon-location {
        margin-right: 10px;
    }

    &__name-location {
        font: $middle-book;
        color: #000;
        transition: .3s ease-in;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:active {
            color: #000;
        }

        &:focus {
            color: $tuliptree;
        }

        &:hover {
            color: $tuliptree;
        }
    }

    &__order-call {
        display: inline-block;
        margin: auto;
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            background-image: url('../img/arrow.png');
            background-repeat: no-repeat;
            width: 17px;
            height: 14px;
            display: block;
            position: absolute;
            right: -2px;
            top: 3px;

        }
    }

    &__order-num {
        font: $middle-book-high;
        color: #000;

    }

    &__order-text {
        margin: 0;
        color: $tuliptree;
        font: $bold-book;
    }


    &__favorites {
        margin: auto;


    }

    &__cart-block {
        display: flex;
        align-items: center;
        position: relative;

    }

    &__favorites {
        position: relative;
        background-image: url('../img/favorites.svg');
        background-repeat: no-repeat;
        width: 28px;
        height: 26px;
        margin-right: 30px;
        transition: .3s ease-in;

        &:hover {
            background-image: url('../img/favorites-hover.svg');
            position: relative;
            display: block;
        }
    }

    &__cart-link {
        margin-right: 22px;
    }

    &__cart-svg {
        position: relative;

        img {
            width: 31px;
            height: 35px;
        }
    }

    .cart__num {
        position: absolute;
        right: -4px;
        top: 0;
        z-index: 999;
        color: #000;
        background-color: $tuliptree;
        font-size: 14px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-weight: 500;
        display: flex;
        justify-content: center;
    }

    &__cart-img {
        padding-right: 15px;
    }

    &__text-cart {
        display: flex;
        flex-direction: column;
    }

    .text-cart__price {
        color: #000;
        font: $small-book;
    }

    .text-cart__order {
        font: $small-book;
        color: $tuliptree;
    }


    ///third-line
    &__third-line {
        background-color: #000;
    }



    &__menu-main {
        display: flex;
    }

    .menu-item {
        font: $small-book;
        color: #fff;
        // margin: 24px 116px 24px 0;
        margin: 24px 173px 0px 0;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        padding-bottom: 24px;
        border-bottom: 2px solid transparent;
        position: relative;

        &:hover {
            color: $tuliptree;
            // border-bottom: 2px solid $tuliptree;
        }

        // &:focus {
        //     color: $tuliptree;
        //     border-bottom: 2px solid $tuliptree;
        // }

        // &:active {
        //     color: $tuliptree;
        //     border-bottom: 2px solid $tuliptree;
        // }

        &:after,
        &:before {
            display: block;
            content: '';
            border-bottom: solid 1px $tuliptree;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }

        &:before {
            position: absolute;
            // bottom: 1.2em;
            left: 0;
            bottom: 0;
            width: 100%;
        }

        &:hover:before {
            transform: scaleX(1);
        }

        // padding-right: 115px;
    }
}

.select-header {
    &__main {
        background-color: #000;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        left: 0;
        right: 193px;
        top: 220px;
        width: 100%;
        z-index: 99999;
        // display: none;
        visibility: hidden;
        opacity: 0;
    }

    &__column {
        position: relative;


        flex: 0 1 18%;
        margin-bottom: 70px;

        &::after {
            content: "";
            // border: 1px solid rgba(255, 255, 255, 0.3);
            border-bottom: 1px solid rgba(255, 255, 255, .3);
            height: 1px;
            top: 55px;
            width: 100%;
            display: block;
            position: absolute;
        }

        &::before {
            content: "";
            border-top: 1px solid rgba(255, 255, 255, .3);
            height: 1px;
            width: 100%;
            display: block;
            position: absolute;
            bottom: 0;
        }


        &:last-child {
            margin-right: 359px;
            flex-basis: 10%;
            flex: 0 1 10%;
        }

        &:first-child {
            margin-left: 163px;
        }

    }

    &__column-title {

        margin-top: 9px;
        font: $bold-book-middle ;
        color: #fff;
    }

    &__link {
        font: $small-book;
        color: #fff;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        text-transform: capitalize;

        &:hover {
            color: $tuliptree;
        }
    }

    &__item {
        padding: 10px 0;
    }

    &__column-list {
        margin-bottom: 27px;
    }

    .select-header__box {
        position: absolute;
        bottom: -70px;
        margin: 30px 0;
    }

    &__menu {
        margin-top: 45px;
    }

    &__watch-all-link {
        text-transform: capitalize;
        font: $small-book;
        color: $tuliptree;
    }

}


.select-header__visible {
    opacity: 1;
    visibility: visible;
}

.select-header__visible .select-header__main {
    opacity: 1;
    visibility: visible;
}




.sticky {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: top 0.3s ease, height 0.3s;
    height: 106px;
}