.header {

    height: 175px;
    z-index: 993;
    position: relative;
    transition: top 0.3s ease;
    // margin-bottom: 2%;
    margin-bottom: 2%;

    &__first-line {
        padding: 25px 0;
        background-color: $codgray;
    }

    &__container {
        align-items: center;
    }

    &__left {
        grid-column: 10 span;
    }

    &__right {
        grid-column: 2 span;
    }

    &__profile {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        position: relative;

        &:hover::after {
            background-image: url('../img/sprite.svg#person-hover');
        }

        &::after {
            content: "";
            position: absolute;
            right: 42%;
            top: -2px;
            display: block;
            background: url('../img/sprite.svg#person') no-repeat;
            width: 74px;
            height: 27px;
            transition: .3s ease-in;
        }

    }

    &__profile-name {
        flex-basis: 47%;
        color: #fff;
        transition: .3s ease-in;
        position: relative;


        &:hover {
            color: $tuliptree;
        }
    }

    &__second-line {
        background: #ECF1F2;
    }

    &__left-second {
        grid-column: 8 span;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__right-second {
        grid-column: 4 span;
        display: flex;
        justify-content: space-between;
    }


    &__second-line {
        align-items: center;
    }

    &__logo {
        img {
            width: 190px;
        }
    }



    &__search-field {
        position: relative;
        width: 377px;
        margin: auto;
        margin-left: 158px;

        &::after {
            content: "";
            background-image: url('../img/search.png');
            height: 11.5px;
            width: 11.5px;
            position: absolute;
            bottom: 18px;
            left: 25px;
        }

        input {

            &:active {
                border: 1px solid $tuliptree;
            }

            &:focus {
                border: 1px solid $tuliptree;
            }
        }

    }

    &__location {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 17px;
            height: 24px;
            object-fit: cover;
        }
    }

    .icon-location {
        margin-right: 10px;
    }

    &__name-location {
        font: $middle-book;
        color: #000;
        transition: .3s ease-in;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:active {
            color: #000;
        }

        &:focus {
            color: $tuliptree;
        }

        &:hover {
            color: $tuliptree;
        }
    }

    &__order-call {
        display: inline-block;
        margin: auto;
        position: relative;
        cursor: pointer;


    }

    &__order-num {
        font: $middle-book-high;
        color: #000;

        &::before {
            content: "";
            background-image: url('../img/arrow.png');
            background-repeat: no-repeat;
            width: 17px;
            height: 14px;
            display: block;
            position: absolute;
            right: -24px;
            top: 3px;
        }

    }

    &__order-text {
        margin: 0;
        color: $tuliptree;
        font: $bold-book;

    }


    &__favorites {
        margin: auto;


    }

    &__cart-block {
        display: flex;
        align-items: center;
        position: relative;

    }

    &__favorites {
        position: relative;
        background-image: url('../img/favorites.svg');
        background-repeat: no-repeat;
        width: 28px;
        height: 26px;
        margin-right: 30px;
        transition: .3s ease-in;

        &:hover {
            background-image: url('../img/favorites-hover.svg');
            position: relative;
            display: block;
        }
    }

    &__cart-link {
        margin-right: 22px;
    }

    &__cart-svg {
        position: relative;

        // img {
        //     width: 31px;
        //     height: 35px;
        // }
        background: url("../img/cart.svg") no-repeat center center;
        ;
        height: 35px;
        width: 31px;
        display: block;
        transition: .3s ease-in;

        &:hover {
            background: url("../img/cart-hover.svg") no-repeat center center;
        }

        &:focus {
            background: url("../img/cart-hover.svg") no-repeat center center;
        }

        &:active {
            background: url("../img/cart-hover.svg") no-repeat center center;
        }
    }

    .cart-num {
        position: absolute;
        right: -4px;
        top: 0;
        z-index: 10;
        color: #000;
        background-color: $tuliptree;
        font-size: 14px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-weight: 500;
        display: flex;
        justify-content: center;
    }

    &__cart-img {
        padding-right: 15px;
    }

    &__text-cart {
        display: flex;
        flex-direction: column;
    }

    .text-cart-price {
        color: #000;
        font: $small-book;
    }

    .text-cart-order {
        font: $small-book;
        color: $tuliptree;
    }


    ///third-line
    &__third-line {
        background-color: #000;
    }



    &__menu-main {
        display: flex;
    }

    .menu-item {
        font: $small-book;
        color: #fff;
        // margin: 24px 116px 24px 0;
        margin: 24px 173px 0px 0;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        padding-bottom: 24px;
        border-bottom: 2px solid transparent;
        position: relative;

        &:hover {
            color: $tuliptree;
            // border-bottom: 2px solid $tuliptree;
        }

        &:after,
        &:before {
            display: block;
            content: '';
            border-bottom: solid 1px $tuliptree;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }

        &:before {
            position: absolute;
            // bottom: 1.2em;
            left: 0;
            bottom: 0;
            width: 100%;
        }

        &:hover:before {
            transform: scaleX(1);
        }

        // padding-right: 115px;
    }
}

.select-header {
    &__main {
        background-color: #000;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        left: 0;
        right: 193px;
        top: 220px;
        width: 100%;
        z-index: 99999;
        // display: none;
        visibility: hidden;
        opacity: 0;
    }

    &__column {
        position: relative;


        flex: 0 1 18%;
        margin-bottom: 70px;

        &::after {
            content: "";
            // border: 1px solid rgba(255, 255, 255, 0.3);
            border-bottom: 1px solid rgba(255, 255, 255, .3);
            height: 1px;
            top: 55px;
            width: 100%;
            display: block;
            position: absolute;
        }

        &::before {
            content: "";
            border-top: 1px solid rgba(255, 255, 255, .3);
            height: 1px;
            width: 100%;
            display: block;
            position: absolute;
            bottom: 0;
        }


        &:last-child {
            margin-right: 359px;
            flex-basis: 10%;
            flex: 0 1 10%;
        }

        &:first-child {
            margin-left: 163px;
        }

    }

    &__column-title {

        margin-top: 9px;
        font: $bold-book-middle ;
        color: #fff;
    }

    &__link {
        font: $small-book;
        color: #fff;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        text-transform: capitalize;

        &:hover {
            color: $tuliptree;
        }
    }

    &__item {
        padding: 10px 0;
    }

    &__column-list {
        margin-bottom: 27px;
    }

    .select-header__box {
        position: absolute;
        bottom: -70px;
        margin: 30px 0;
    }

    &__menu {
        margin-top: 45px;
    }

    &__watch-all-link {
        text-transform: capitalize;
        font: $small-book;
        color: $tuliptree;
    }

}


.select-header__visible {
    opacity: 1;
    visibility: visible;
}

.select-header__visible .select-header__main {
    opacity: 1;
    visibility: visible;
}

// .sticky {
//     transition: top 0.3s ease, height 0.3s;
//     top: 0px;
//     height: 218px;
// }

.header.sticky {
    transition: top 0.5s ease, height 0.5s;
    top: 175px;
    height: 218px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

@media(max-width: 1460px) {
    .header__left-second {
        grid-column: 7 span;
    }

    .header__right-second {
        grid-column: 5 span;
    }

    .header__search-field {
        margin: auto auto auto 78px;
    }

    .header .menu-item {
        margin: 23px 100px 0 0;
    }

    .header__search-field {
        width: 277px;
    }
}

@media(max-width: 1350px) {
    .header__menu-main {
        justify-content: center;
    }

    .header__left-second {
        grid-column: 6 span;
    }

    .select-header__column {
        flex: 1 1 auto;
    }

    .select-header__column:last-child {
        flex: 1 1 auto;
        margin-right: unset;
    }

    .select-header__column:first-child {
        margin-left: 26px;
    }
}

@media(max-width: 1210px) {
    .header__search-field {
        margin: auto auto auto 15px;
    }

    .header__right-second {
        grid-column: 6 span;
    }
}

@media(max-width: 1125px) {
    .header__logo img {
        width: 150px;
    }

    .header__search-field {
        width: 200px;
    }

    .header__location {
        flex-direction: column;
        margin-top: 12px;
    }

    .header .menu-item {
        margin: 23px 70px 0 0;
    }

}

@media(min-width: 768px) {
    .header-mobile {
        display: none;
    }
}

@media(max-width: 991px) {
    .header {
        &__profile-name {
            flex-basis: 100%;
        }

        &__left-second {
            grid-column: 6 span;
        }

        &__right-second {
            grid-column: 6 span;
        }

        &__location {
            display: none;
        }

        &__order-num {
            font-size: 14px;
        }

        &__order-text {
            font-size: 14px;
        }

        .menu-item {
            margin: 23px 22px 0 0;
        }


    }

    .grid-mobile {
        grid-template-columns: repeat(1, 1fr);
    }

    .header {
        &__logo {
            margin: 0 auto;
            text-align: center;

            img {
                width: 70%;
            }
        }
    }



    .header__cart-link {
        margin-right: 10px;
        margin-left: 8px;
    }

    .header-mobile {
        display: flex;
        align-items: center;
        justify-content: center;

        &__icon {
            height: 27px;

        }

        &__person {
            position: relative;
            right: 18px;
            background: url('../img/person.svg') center center no-repeat;
            display: block;
            width: 22px;
            height: 29px;

            &:hover {
                position: relative;
                background: url('../img/person-hover.svg') center center no-repeat;
                display: block;
            }
        }



        &__cart {
            position: relative;
            background: url('../img/cart-white.svg') center center no-repeat;
            height: 35px;
            width: 31px;
            display: block;
            transition: .3s ease-in;
        }

        .cart-num {
            // right: 10px;
            top: -5px;
        }

        .cart-products.active {
            margin: 0 auto;
            text-align: center;
        }
    }

    .header__left {
        display: none;
    }

    .header__right {
        display: none;
    }

    .header__third-line {
        display: none;
    }

    .header__right-second {
        display: none;
    }

    .header__search-field {
        display: none;
    }


    .mobile-favorites {
        position: relative;
        background: url('../img/favorites-white.svg') no-repeat center center;
        ;
        position: relative;
        display: block;
        width: 28px;
        height: 25px;

        &:hover {
            position: relative;
            display: block;
            background: url('../img/favorites-hover.svg') no-repeat center center;
            ;
        }
    }

    .burger-icon {
        position: relative;
        display: block;

        &:hover {
            .burger-icon__line {
                background: $tuliptree;
            }
        }
    }

    .hamburger {
        background-color: $codgray;
        border: none;
        cursor: pointer;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-10px, 7px);
        height: 3px;
    }

    .hamburger.is-active:after {
        transform: rotate(48deg) translate(-6px, -3px);
        height: 3px;
    }

    .hamburger.is-active .hamburger-bar {
        opacity: 0;
    }

    .hamburger.is-active:before {
        background-color: #fff;
    }

    .hamburger.is-active:after {
        background-color: #fff;
    }


    .mobile-nav {
        position: fixed;
        top: 175px;
        left: 100%;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 98;
        background-color: $codgray;
        transition: 0.4s;
        color: #fff;
    }

    .mobile-nav.is-active {
        left: 0;
    }



    .hamburger .hamburger-bar,
    .hamburger:after,
    .hamburger:before {
        content: '';
        display: block;
        width: 28px;
        height: 3px;
        background-color: #FFF;
        margin: 6px 0px;
        transition: 0.4s;
    }

    .header-mobile-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .header__logo.hidden {
        display: none;
    }

    .header__cart-link.hidden {
        display: none;
    }

    .header-mobile__favorites.hidden {
        display: none;
    }

    .header-mobile__call.hidden {
        display: none;
    }

    .header-mobile__account.hidden {
        display: none;
    }


    .header__search-field.visible {
        margin-top: 21px;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
    }

    .header__second-line {
        height: 90px;
    }


    .header__logo-white {
        display: none;
        margin: 0 auto;

        img {
            width: 50%;
        }

    }

    .header__logo-white.visible {
        display: flex;
        justify-content: center;
    }

    .header-mobile__burger {
        display: flex;
        align-items: center;
    }

    .mobile-nav {
        display: flex;
        align-items: baseline;
        text-align: center;
        margin: 0 auto;

    }

    .header-mobile-list {
        width: 100%;
    }

    .header-mobile-list__item {
        padding: 20px 0;
        width: 100%;
        border-top: 1px solid #3D3D3D;
        ;
        border-bottom: 1px solid #3D3D3D;
        ;
    }

    .header-mobile-list-link {
        color: #fff;
        font: $small-book ;
        transition: .3s ease-in;

        &:hover {
            color: $tuliptree;
        }
    }



    .list-wrapper {
        width: 100%;
    }

    .list-wrapper .menu {
        list-style-type: none;
        width: 100%;
    }

    .menu-wrapper li {
        // width: 100%;

        margin-left: -35px;

        &::after {
            content: "";
            display: block;
            position: relative;
            border-top: 1px solid #3D3D3D;
            border-bottom: 1px solid #3D3D3D;
        }
    }


    .page-header .menu-wrapper a {
        display: inline-block;
        position: relative;
        padding: 20px 0px 20px 15px;
    }


    .page-header .menu-wrapper {
        position: fixed;
        top: 175px;
        left: 100%;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 99999;
        background-color: #141414;
        transition: all .5s;
        color: #fff;
    }

    .page-header .menu-wrapper.is-visible {
        left: 0;
    }

    .page-header .list-wrapper {
        height: 100%;
        padding: 30px 00px;
        overflow-y: auto;
        background-color: $codgray;
    }

    .page-header .list-wrapper:nth-child(2),
    .page-header .list-wrapper:nth-child(3) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: translateX(100%);
        backface-visibility: hidden;
        transition: transform 0.5s;
    }

    .page-header .list-wrapper:nth-child(2).is-visible,
    .page-header .list-wrapper:nth-child(3).is-visible {
        transform: none;
        z-index: 9999;
    }

    .page-header .list-wrapper:nth-child(1)>ul>li>.sub-menu,
    .page-header .list-wrapper:nth-child(2) .level-3 {
        display: none;
    }

    .menu-wrapper .nested::before,
    .menu-wrapper .nested.is-active::before {
        content: "";
        background-image: url('../img/sprite.svg#arrow-white');
        background-repeat: no-repeat;
        position: absolute;
        width: 16px;
        height: 10px;
        transform: translateY(-50%);
        right: -20px;
        top: 50%;
    }

    .page-header .back-one-level {
        display: flex;
        align-items: center;
        margin-bottom: 34px;
        margin-left: 35px;
        position: relative;
        outline: none;
        border: none;
        background-color: unset;
        color: #fff;
        font: $small-book;
        cursor: pointer;
        transition: ease-in .3s;

        &::before {
            content: "";
            background-image: url('../img/sprite.svg#arrow-left');
            background-repeat: no-repeat;
            position: absolute;
            width: 71px;
            height: 16px;
            left: -28px;
        }

        &:hover {
            color: $tuliptree;
        }
    }

    .page-main {
        max-width: 600px;
        width: 100%;
        padding: 0 15px;
        margin: 100px auto 0;
    }

    .sub-menu {
        background-color: $codgray;
        z-index: 99999;
        list-style-type: none;
    }
}

.cart-products {
    position: absolute;
    margin-top: 151px;
    right: -20px;
    width: 0;
    max-height: 0;
    z-index: 8890;
    background: #fff;

    transition: max-height 0.3s 0.1s, width 0.3s 0.1s, -webkit-box-shadow 0.7s 0.5s;
    transition: max-height 0.3s 0.1s, width 0.3s 0.1s, box-shadow 0.7s 0.5s;
    transition: max-height 0.3s 0.1s, width 0.3s 0.1s, box-shadow 0.7s 0.5s, -webkit-box-shadow 0.7s 0.5s;
    transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
    transform: translateZ(0);
    overflow: hidden;

}

.cart-products.active {
    width: 400px;
    max-height: 480px;
}

.cart-content {
    margin: 0 auto;
    text-align: center;
}

@media(max-width: 790px) {
    .header__order-call {
        left: 18px;
    }
}

.noOverflow {
    overflow-y: hidden;
}