.header {
    background-color: $codgray;



    &__first-line {
        padding: 25px 0;
    }

    &__left {
        grid-column: 10 span;
    }

    &__right {
        grid-column: 2 span;
    }

    &__profile {
        display: flex;
        flex-direction: row;
        justify-content: right;

        img {
            height: 100%;
        }
    }

    .icon-person {
        flex-basis: 30%;
    }

    &__profile-name {
        flex-basis: 47%;
        color: #fff;
    }
    
}