.slider-homepage {
    background-image: url('../img/homepage-bg-img.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__swiper {
        flex: 0 1 75%;
    }

    &__product-image {
        flex: 0 1 25%;

        img {}
    }

    &__text-content {
        padding-right: 249px;
        color: #fff;

    }

    &__title {}

    &__btn {
        // padding: 18px 55px;
        background-color: $tuliptree;
        box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
        border-radius: 3px;
        outline: none;
        font: $middle-book-higher;
        color: #fff;
        cursor: pointer;
    }
}