.slider-homepage {
    background-image: url('../img/homepage-bg-img.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__swiper {
        flex: 0 1 75%;
    }

    &__product-image {
        flex: 0 1 25%;

        img {}
    }

    &__text-content {
        padding-right: 249px;
        color: #fff;

    }

    &__title {
        // font: $small-book-high;
    }

    &__descr {
        font: $small-book-middle;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.7);
    }

    &__btn {
        padding: 18px 55px;
        font: $middle-book-higher;
        margin-top: 62px;


    }
}