.nav {
    &__list {
        display: flex;
        align-self: center;


    }

    &__item {
        margin-right: 60px;
    }

    &__link {
        font-family: $font-family;
        color: #fff;
        transition: .3s ease-in;
        &:hover {
            color: $tuliptree;
        }
    }
}