.nav {
    &__list {
        display: flex;
        align-self: center;


    }

    &__item {
        margin-right: 60px;
    }

    &__link {
        // font: $small-book;
        font-family: $font-family;
        color: #fff;
    }
}