.novelty {
    background-image: url('../img/bg-novelty.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.novelty-title {
    color: #fff;
}

.novelty-blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;

}

.novelty-text {
    flex: 0 0 25%;
    text-align: left;

    .novelty-description {
        padding-right: 53px;
        font: $small-book-premiddle;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.7);
    }

    .novelty-link {
        padding-top: 60px;
    }

    .novelty-watch-more {

        color: $tuliptree;
        cursor: pointer;
        font: $middle-book-higher;
        position: relative;

        &::before {
            content: "";
            background-image: url('../img/sprite.svg#arrow');
            background-repeat: no-repeat;
            position: absolute;
            top: 8px;
            right: -27px;
            transform: rotate(270deg);
            width: 16px;
            height: 10px;
        }
    }

}

.novelty-slider {
    flex: 0 0 75%;
    margin-top: 53px;
    padding-bottom: 92px;

    .swiper-pagination-bullet {
        background-color: $gray;
        background: $gray;
        width: 18px;
        height: 0;
        border: 2px solid $gray;
        border-radius: unset;
        opacity: unset;
        position: relative;
    }

    .swiper-pagination-bullet-active {
        background-color: $tuliptree;
        background: $tuliptree;
        width: 18px;
        height: 0;
        border: 2px solid $tuliptree;
        border-radius: unset;
        opacity: unset;

        &:after {
            content: "";
            height: 10px;
            width: 10px;
            background: $tuliptree;
            box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.66);
            display: block;
            border-radius: 50%;
            position: relative;
            bottom: 5px;
            right: 7px;

        }
    }
}


@media(max-width: 1160px) {
    .novelty {

        .novelty-blocks {
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;

            .swiper-wrapper {
                max-width: 760px;
            }

        }
    }

}

@media(max-width: 800px) {
    .novelty {

        .novelty-blocks {
            .swiper-wrapper {
                max-width: 650px;
            }

        }
    }

}


@media(max-width: 700px) {
    .novelty {

        .novelty-blocks {
            .swiper-wrapper {
                max-width: 300px;
            }

        }
    }

}