.product-information {
    &__container {
        margin-top: 30px;
    }

    &__breadcrumbs {
        padding-bottom: 30px;
    }

    .divide {
        margin: 0 5px;
        color: $codgray;
    }

    .breadcrumbs-link {
        font: $small-book-premiddle;
        color: $tuliptree;
    }

    .breadcrumbs-homepage {
        color: $codgray;
        cursor: default;
        opacity: 0.5;
    }

    &__top {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .mySwiperGallery2 {
        height: 80%;
        width: 100%;

        img {
            height: 574px;
            object-fit: cover;
        }
    }

    .mySwiperGallery1 {
        height: 20%;
        width: 100%;
        box-sizing: border-box;

        img {
            height: 180px;
            object-fit: cover;
        }
    }

    &__right-side {
        margin-left: 30px;
        background: #FEFEFE;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }

    &__right-wrapper {
        padding: 30px;
    }

    &__right-top {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__stars {
        margin-left: 30px;
        display: inline-flex;

        img {
            padding: 0 2px;
            height: 21px;
        }
    }

    &__title-rating {
        display: inline-flex;
        align-items: baseline;

        .title-rating {
            font: $bold-book;
            font-size: 24px;
        }
    }

    &__icons {
        display: inline-flex;

        img {
            padding: 0 2px;
            height: 21px;
        }
    }

    .available {
        color: #24AD53;
        font: $small-book-premiddle;
    }

    .line {
        margin-top: 29px;
        border: 1px solid rgba(20, 20, 20, 0.15);
    }
}