.product-tabs {
    margin-top: 120px;

    .description {
        display: none;
    }

    .characteristic {
        display: none;
    }

    .feedback {
        display: none;
    }

    .delivery {
        display: none;
    }

    .active {
        display: block;
        // display: block;
    }

    .tabs-items {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .line {
        border-bottom: 1px solid rgba(20, 20, 20, .15);
        width: 100%;
        height: 1px;
        bottom: 21px;
        position: relative;
        z-index: 5;

    }

    li {
        margin-right: 30px;
        margin-bottom: 44px;

        .item-tab {
            font: $middle-book-higher;
            color: rgba(20, 20, 20, 0.5);
            margin-bottom: -25px;
            border-bottom: 2px solid transparent;
        }
    }

    li {
        .active {
            color: $codgray;
            font: $bold-book;
            font-size: 20px;
            padding-bottom: 24px;
            border-bottom: 2px solid $tuliptree;
            z-index: 999;
            position: relative;
        }

        &:last-of-type {
            margin-right: unset;
        }
    }

    &__container {
        background: #FEFEFE;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        padding: 30px;

    }

    .js-tabs-body {
        font: $small-book-premiddle;
    }

    .characteristic.active {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(33%, 3fr));
        grid-template-columns: 22% 28% 47%;
    }

    .item {
        border-right: 1px solid rgba(20, 20, 20, .15);
        margin-right: 45px;

        &:last-child {
            border-right: unset;
        }
    }

    .container-lists {
        display: flex;
        margin-top: 30px;

        li {
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: unset;
            }
        }
    }


    .sub-title {
        color: $codgray;
        font: $bold-book;
    }

    .feedback.active>p {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .write-review {
            background: #000000;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            font: $middle-book-high;
            padding: 18px 37px;
        }
    }

    .feedback-item {
        border-top: 1px solid rgba(20, 20, 20, 0.15);

        &:first-child {
            border-top: unset;
            padding-bottom: 30px;
        }

        &:not(:first-child) {
            padding-top: 30px;
        }

        &__head {
            display: flex;
            position: relative;
        }

        &__heading {
            margin-left: 30px;
        }


        .name-star {
            display: flex;
            flex-direction: column;
        }

        .avatar {
            height: 80px;
            width: 80px;
        }

        .stars {
            margin-top: 10px;
            display: inline-flex;

            img {
                padding-right: 5px;

                &:last-child {
                    padding-right: unset;
                }
            }
        }

        .date {
            position: absolute;
            right: 0;
            color: rgba(20, 20, 20, 0.3);
            font: $small-book;
            font-size: 14px;
        }

        .name {
            font: $middle-book-high;
            text-transform: capitalize;
        }

        .item-body {
            margin: 0 112px;
            margin-top: -15px;
        }

    }
}