.product-tabs {
    margin-top: 120px;

    .description {
        display: none;
    }

    .characteristic {
        display: none;
    }

    .feedback {
        display: none;
    }

    .delivery {
        display: none;
    }

    .active {
        display: block;
    }

    .tabs-items {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .line {
        border-bottom: 1px solid rgba(20, 20, 20, .15);
        width: 100%;
        height: 1px;
        bottom: 21px;
        position: relative;
        z-index: 5;

    }

    li {
        margin-right: 30px;
        margin-bottom: 44px;

        .item-tab {
            font: $middle-book-higher;
            color: rgba(20, 20, 20, 0.5);
            margin-bottom: -25px;
            border-bottom: 2px solid transparent;
        }
    }

    li {

        .active {
            color: $codgray;
            font: $bold-book;
            font-size: 20px;

            padding-bottom: 24px;
            border-bottom: 2px solid $tuliptree;
            z-index: 999;
        }

        &:last-of-type {
            margin-right: unset;
        }
    }

    &__container {
        background: #FEFEFE;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        margin: 0 30px;
    }


}