.shop-category {
    &__title {
        font-size: 24px;
    }

    &__second-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .divide {
        margin: 0 5px;
        color: $codgray;
    }

    .breadcrumbs-link {
        font: $small-book-premiddle;
        color: $tuliptree;
    }

    .breadcrumbs-homepage {
        color: $codgray;
        cursor: default;
        opacity: 0.5;
    }

    .jq-selectbox {
        width: 335px;
        margin-right: 24px;
    }

    .jq-selectbox__select {
        background-color: #fff;
        background: #fff;
        padding: 10px 88px 7px 10px;
        font: unset;
        height: unset;
    }

    .jq-selectbox__trigger {
        border-left: unset;

        &::after {
            content: "";
            background: url('../img/sprite.svg#arrow-gray') no-repeat;
            height: 7px;
            width: 18px;
            position: absolute;
            top: 20px;
        }

    }

    .jq-selectbox__select-text {
        font: $small-book-premiddle;
        color: rgba(0, 0, 0, 0.5);
    }

    .jq-selectbox li {
        font: $small-book-premiddle;
        color: rgba(0, 0, 0, 0.5);
    }

    .jq-selectbox__trigger-arrow {
        top: 22px;
        border-top: unset;
        border-right: unset;
        border-left: unset;
    }

    .btn-shop {
        @include btn-shop;
    }

}

@media(max-width: 1150px) {
    .shop-category {

        .jq-selectbox {
            width: 235px;
            margin-right: unset;
        }

        &__information {
            margin: auto 35px;
        }

    }


}

@media(max-width: 900px) {
    .shop-category {
        .btn-shop {
            padding: 14px 45px;
        }

        &__breadcrumbs {
            display: none;
        }

    }

}


@media(max-width: 756px) {
    .shop-category {
        .btn-shop {
            padding: 14px;
        }

        .jq-selectbox {
            width: 155px;
        }
    }
}

@media(min-width: 1150px) {
    .shop-catalog {
        .btn-shop {
            display: none;
        }
    }
}