.shop-catalog {
    &__left {
        grid-column: 3 span;
        background: #FEFEFE;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: 35px;
    }

    &__input {
        font: $small-book-premiddle;
        color: $codgray;
        background-color: unset;
        outline: 0;
        width: 45%;
        height: 40px;
        border: 1px solid #CBCBCB;
        text-align: center;
    }

    &__filter-price {
        font: $middle-book-higher;
        cursor: pointer;
        position: relative;
        padding-left: 23px;

        &::after {
            content: "";
            background: url('../img/sprite.svg#arrow') no-repeat;
            height: 10px;
            width: 16px;
            position: absolute;
            top: 6px;
            right: 21px;
            transform: rotate(180deg);
            transition: transform .3s;
        }



    }

    .shop-catalog__filter-price.filter__item-drop--active {

        &::after {
            content: "";
            transform: rotate(0deg);
        }
    }

    .arrow-products {
        position: relative;
        cursor: pointer;

        &::after {
            content: "";
            background: url('../img/sprite.svg#arrow') no-repeat;
            height: 10px;
            width: 25px;
            position: absolute;
            right: 21px;
            transform: rotate(180deg);
            transition: transform .3s;
        }
    }

    .arrow-products.filter__item-drop--active {
        &::after {
            content: "";
            transform: rotate(0deg);
        }
    }

    &__filter-products {
        background-color: #000000;
        padding: 23px 0;
        padding-left: 30px;
        color: #fff;
        font: $bold-book;
        font-size: 20px;
    }

    .noUi-connect {
        background-color: #000000;
    }

    .noUi-connects {
        background-color: $tuliptree;
        height: 2px;
    }

    .noUi-horizontal .noUi-handle {
        border-radius: 50%;
        width: 18px;
        height: 18px;
        cursor: grab;
        background-color: $tuliptree;
    }

    .noUi-touch-area {
        height: 50%;
        width: 50%;
        border-radius: 50%;
        background-color: $codgray;
        position: absolute;
        top: 3px;
        left: 4px;
    }

    .noUi-target {
        position: relative;
        background: unset;
        border-radius: unset;
        border: unset;
        box-shadow: unset;
    }

    &__filter-box {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &:last-child {
            margin-bottom: 29px;
        }

        &:first-child {
            margin-top: 29px;
        }

        .jq-radio,
        .jq-checkbox {
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 2px;
            background: unset;
        }

        .jq-radio.checked .jq-radio__div,
        .jq-checkbox.checked .jq-radio__div {
            border-radius: 1px;
            background: $tuliptree;
            border: unset;
            box-shadow: unset;
        }

        .jq-radio.checked,
        .jq-checkbox.checked {
            border: 1px solid $tuliptree;
        }

        .jq-checkbox.checked .jq-checkbox__div {
            border-radius: 1px;
            background: #e8aa31;
            border: unset;
            box-shadow: unset;
            transform: unset;
            width: 10px;
            height: 10px;
            margin: 3px 0 0 3px
        }

        .label-box {
            font: $small-book-premiddle;
            cursor: pointer;
        }

        .count {
            margin-left: 15px;
            color: $tuliptree;
        }

        .shop-catalog__rating {
            cursor: pointer;
            display: flex;
            align-items: baseline;

            img {
                width: unset;
                height: 22px;
            }

            .label-box {
                display: flex;
                align-items: baseline;
            }

            &:not(:first-child) {
                margin-top: 22px;
            }

            &:first-child {
                margin-top: 20px;
            }

            .number {
                color: $codgray;
                font: $small-book-premiddle;
                font-size: 16px;
                padding-left: 15px;
            }

            .filter-style {
                margin-right: 15px;
            }
        }
    }

    &__filter-boxes {
        .noUi-target {
            margin-right: 29px;
        }
    }

    &__filter-boxes,
    .ratings {
        margin-left: 31px;
    }

    &__content {
        margin-left: 31px;

        .shop-catalog__price-element {
            margin-right: 31px;
        }
    }







}