.shop-catalog {


    &__right {
        grid-column: 9 span;
        margin-left: 32px;
    }


    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
    }

    .bestsellers-products-item {
        margin-top: 30px;
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;
        }

        .bestsellers-products-item__bottom {
            padding-bottom: 36px;
        }

        .sale {
            margin-top: 20px;
            position: absolute;
            background-color: $tuliptree;
            color: #fff;
            font: $middle-book-high;
            padding: 7px 22px;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
    }

    .btn-loadmore {
        @include btn-shop;
    }

    &__pagination {
        display: flex;
        align-items: center;

        .item-pagination {
            padding-right: 25px;

            &:last-of-type {
                padding-right: unset;
            }

            &:first-of-type {
                padding-right: unset;
            }


            &:nth-child(5) {
                // display: none;
                padding-right: unset;
                position: relative;
                right: 15px;
            }

        }


        .link {
            color: #000000;
            font: $small-book-premiddle;
            transition: .3s ease-out;
            padding: 13px;

            &:hover {
                border-radius: 50%;
                padding: 8px 13px;
                color: #fff;
                background-color: $tuliptree;
            }
        }

        .active {
            border-radius: 50%;
            padding: 8px 13px;
            color: #fff;
            background-color: $tuliptree;
        }

        .link-prev {
            background: url('../img/sprite.svg#arrow-gray') no-repeat center center;
            height: 19px;
            width: 35px;
            display: block;
            transform: rotate(90deg);
            top: 0;
            right: 15px;
            position: relative;
            padding: unset;

            &:hover {
                background-color: unset;
                border-radius: unset;
                padding: unset;
                position: relative;
                background: url('../img/sprite.svg#arrow') no-repeat center center;
            }
        }

        .link-next {
            background: url('../img/sprite.svg#arrow-gray') no-repeat center center;
            height: 19px;
            width: 35px;
            display: block;
            transform: rotate(267deg);
            top: 0px;
            left: 6px;
            position: relative;
            padding: unset;

            &:hover {
                background-color: unset;
                border-radius: unset;
                padding: unset;
                background: url('../img/sprite.svg#arrow') no-repeat center center;
            }
        }

    }


}