.shop-catalog {
    &__left {
        grid-column: 3 span;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: 35px;
    }

    &__input {
        font: $small-book-premiddle;
        color: $codgray;
        background-color: unset;
        outline: 0;
        width: 45%;
        height: 40px;
        border: 1px solid #CBCBCB;
        text-align: center;

        &::before {
            content: "$";
            // font-size: 16px;
            // color: #000000;
            // display: block;
 

        }
    }

    &__filter-price {
        font: $middle-book-higher;
        cursor: pointer;
        position: relative;

        &::after {
            content: "";
            background: url('../img/sprite.svg#arrow') no-repeat;
            height: 10px;
            width: 16px;
            position: absolute;
            top: 6px;
            right: 21px;
            transform: rotate(176deg);
        }
    }

    &__filter-products {
        background-color: #000000;
        padding: 23px 0;
        padding-left: 30px;
        color: #fff;
    }

    .noUi-connect {
        background-color: #000000;
    }

    .noUi-connects {
        background-color: $tuliptree;
        height: 2px;
    }

    .noUi-horizontal .noUi-handle {
        border-radius: 50%;
        width: 18px;
        height: 18px;
        cursor: grab;
        background-color: $tuliptree;
    }

    .noUi-touch-area {
        height: 50%;
        width: 50%;
        border-radius: 50%;
        background-color: $codgray;
        position: absolute;
        top: 3px;
        left: 4px;
    }

    &__right {
        grid-column: 9 span;
    }



}