.shop-catalog {


    &__right {
        grid-column: 9 span;
        margin-left: 32px;
    }


    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
    }

    .bestsellers-products-item {
        margin-top: 30px;
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;
        }

        .bestsellers-products-item__bottom {
            padding-bottom: 36px;
        }

        .sale {
            margin-top: 20px;
            position: absolute;
            background-color: $tuliptree;
            color: #fff;
            font: $middle-book-high;
            padding: 7px 22px;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
    }

    .btn-loadmore {
        background-color: transparent;
        color: $tuliptree;
        padding: 14px 69px;
        font: $middle-book-higher;
        border: 2px solid $tuliptree;
        // box-shadow: unset;
        filter: drop-shadow(0px 4px 20px rgba(232, 170, 49, 0.43));
        border-radius: 3px;
    }

    &__pagination {
        display: flex;

        .link {
            color: #000000;
            font: $small-book-premiddle;
      
        }

        .item-pagination {
            padding: 0 30px;

            &:not(:first-child) {
                padding: 0 30px;
            }

            &:not(:last-child) {
                padding: 0 30px;

            }
        }

        .link-prev {
            background: url('../img/sprite.svg#arrow-gray') no-repeat center center;
            // background-position: center center;
            height: 20px;
            width: 20px;
            display: block;
            transform: rotate(90deg);
            top: 2px;
            position: relative;
        }

        .next {
            img {
                width: 27px;
                height: 25px;
                transform: rotate(267deg);
            }
        }


    }


}
