@mixin plus {
    &:after {
        content: "+";
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        background-color: $tuliptree;
        line-height: 20px;
        border-radius: 50%;
        width: 19px;
        height: 20px;
        text-align: center;
        position: absolute;
        right: 5px;
        margin-top: 5px;
    }
}

@mixin strip {
    &::after {
        content: "";
        background-color: $tuliptree;
        height: 1px;
        width: 68px;
        position: relative;
        top: 15px;
        display: block;
    }
}