<section class="banners">
    <div class="container">
        <div class="banners-items">
            <div class="banner-item">
                <div class="banner-item__adaptive">
                    <a href="#!" class="btn adaptive-read-more">
                        Read More
                    </a>
                </div>
                <div class="banner-bg-img" style="background: url('img/banner-img-1.png') no-repeat;"></div>
                <div class="banner-bg-adaptive">
                    <img src="img/banner-img-1.png" alt="banner image">
                </div>
                <div class="banner-text">
                    <h2>
                        <a href="#!" class="banner-title">
                            Lorem, ipsum.
                        </a>
                    </h2>
                    <div class="banner-description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </div>
                    <a href="#!" class="read-more btn">
                        Read More
                    </a>
                </div>
            </div>
            <div class="banner-item">
                <div class="banner-item__adaptive">
                    <a href="#!" class="btn adaptive-read-more">
                        Read More
                    </a>
                </div>
                <div class="banner-bg-img" style="background: url('img/banner-img-2.png') no-repeat;"></div>
                <div class="banner-bg-adaptive">
                    <img src="img/banner-img-2.png" alt="banner image">
                </div>
                <div class="banner-text">
                    <h2>
                        <a href="#!" class="banner-title">
                            Lorem, ipsum.
                        </a>
                    </h2>
                    <div class="banner-description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </div>
                    <a href="#!" class="read-more btn">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>