<section class="banners">
    <div class="container">
        <div class="banners-items">
            <div class="banner-item" style="background-image:image">
                <div class="banner-text">
                    <a href="#!" class="banner-title">
                        Lorem, ipsum.
                    </a>
                    <div class="banner-description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </div>
                    <button type="submit">
                        Redd More
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>