<section class="cards">
    <div class="container">
        <div class="cards-items">
            <div class="cards-item card-item">
                <div class="cards-item__bg-img" style="background-image: url('img/card-img-1.png');">
                </div>
                <div class="cards-item__tablet-img">
                    <img src="img/card-img-1.png" alt="">
                </div>
                <div class="cards-item__text">
                    <span class="cards-item__title">Test Title First</span>
                    <ul class="cards-item__list list-reset">
                        <li class="cards-item__li"><a href="#!">test 1</a></li>
                        <li class="cards-item__li"><a href="#!">test 2</a></li>
                        <li class="cards-item__li"><a href="#!">test 3</a></li>
                    </ul>
                </div>
            </div>
            <div class="cards-item card-item">
                <div class="cards-item__bg-img" style="background-image: url('img/card-img-2.png');">
                </div>
                <div class="cards-item__tablet-img">
                    <img src="img/card-img-2.png" alt="">
                </div>
                <div class="cards-item__text">
                    <span class="cards-item__title">Test Title Second</span>
                    <ul class="cards-item__list list-reset">
                        <li class="cards-item__li"><a href="#!">test 1</a></li>
                        <li class="cards-item__li"><a href="#!">test 2</a></li>
                        <li class="cards-item__li"><a href="#!">test 3</a></li>
                    </ul>
                </div>
            </div>
            <div class="cards-item card-item">
                <div class="cards-item__bg-img" style="background-image: url('img/card-img-3.png');">
                </div>
                <div class="cards-item__tablet-img">
                    <img src="img/card-img-3.png" alt="">
                </div>
                <div class="cards-item__text">
                    <span class="cards-item__title">Test Title Third</span>
                    <ul class="cards-item__list list-reset">
                        <li class="cards-item__li"><a href="#!">test 1</a></li>
                        <li class="cards-item__li"><a href="#!">test 2</a></li>
                        <li class="cards-item__li"><a href="#!">test 3</a></li>
                    </ul>
                </div>
            </div>
            <div class="cards-item card-item">
                <div class="cards-item__bg-img" style="background-image: url('img/card-img-4.png');">
                </div>
                <div class="cards-item__tablet-img">
                    <img src="img/card-img-4.png" alt="">
                </div>
                <div class="cards-item__text">
                    <span class="cards-item__title">Test Title Fourth</span>
                    <ul class="cards-item__list list-reset">
                        <li class="cards-item__li"><a href="#!">test 1</a></li>
                        <li class="cards-item__li"><a href="#!">test 2</a></li>
                        <li class="cards-item__li"><a href="#!">test 3</a></li>
                    </ul>
                </div>
            </div>
            <div class="cards-item card-item">
                <div class="cards-item__bg-img" style="background-image: url('img/card-img-5.png');">
                </div>
                <div class="cards-item__tablet-img">
                    <img src="img/card-img-5.png" alt="">
                </div>
                <div class="cards-item__text">
                    <span class="cards-item__title">Test Title Five</span>
                    <ul class="cards-item__list list-reset">
                        <li class="cards-item__li"><a href="#!">test 1</a></li>
                        <li class="cards-item__li"><a href="#!">test 2</a></li>
                        <li class="cards-item__li"><a href="#!">test 3</a></li>
                    </ul>
                </div>
            </div>
            <div class="cards-item card-item">
                <div class="cards-item__bg-img" style="background-image: url('img/card-img-6.png');">
                </div>
                <div class="cards-item__tablet-img">
                    <img src="img/card-img-6.png" alt="">
                </div>
                <div class="cards-item__text">
                    <span class="cards-item__title">Test Title Six</span>
                    <ul class="cards-item__list list-reset">
                        <li class="cards-item__li"><a href="#!">test 1</a></li>
                        <li class="cards-item__li"><a href="#!">test 2</a></li>
                        <li class="cards-item__li"><a href="#!">test 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>