<section class="cards">
    <div class="container">
        <div class="cards-items">
            <div class="cards-item">
                <div class="cards-item__bg-img"></div>
                <div class="cards-item__text">
                    <span class="cards-item__title"></span>
                    <ul class="cards-item__list">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>