<section class="cards">
    <div class="container">
        <div class="cards-items">
            <a data-aos="fade-down" href="#!" class="cards-item card-item">
                <div class="cards-item__text">
                    <h4 class="cards-item__title">Test Title First</h4>
                    <ul class="cards-item__list list-reset">
                        <li class="cards-item__li">test 1</li>
                        <li class="cards-item__li">test 2</li>
                        <li class="cards-item__li">test 3</li>
                    </ul>
                </div>
                <div class="cards-item__img">
                    <img src="img/card-img-1.png" alt="">
                </div>
            </a>
            <a data-aos="fade-down" href="#!" class="cards-item card-item">
                <div class="cards-item__text">
                    <h4 class="cards-item__title">Test Title Second</h4>
                    <ul class="cards-item__list list-reset">
                        <li class="cards-item__li">test 1</li>
                        <li class="cards-item__li">test 2</li>
                        <li class="cards-item__li">test 3</li>
                    </ul>
                </div>
                <div class="cards-item__img">
                    <img src="img/card-img-2.png" alt="">
                </div>
            </a>
            <a data-aos="fade-down" href="#!" class="cards-item card-item">
                <div class="cards-item__text">
                    <h4 class="cards-item__title">Test Title Third</h4>
                    <ul class="cards-item__list list-reset">
                        <li class="cards-item__li">test 1</li>
                        <li class="cards-item__li">test 2</li>
                        <li class="cards-item__li">test 3</li>
                    </ul>
                </div>
                <div class="cards-item__img">
                    <img src="img/card-img-3.png" alt="">
                </div>
            </a>
            <a data-aos="fade-down" href="#!" class="cards-item card-item">
                <div class="cards-item__text">
                    <h4 class="cards-item__title">Test Title Fourth</h4>
                    <ul class="cards-item__list list-reset">
                        <li class="cards-item__li">test 1</li>
                        <li class="cards-item__li">test 2</li>
                        <li class="cards-item__li">test 3</li>
                    </ul>
                </div>
                <div class="cards-item__img">
                    <img src="img/card-img-4.png" alt="">
                </div>
            </a>
            <a data-aos="fade-down" href="#!" class="cards-item card-item">
                <div class="cards-item__text">
                    <h4 class="cards-item__title">Test Title Five</h4>
                    <ul class="cards-item__list list-reset">
                        <li class="cards-item__li">test 1</li>
                        <li class="cards-item__li">test 2</li>
                        <li class="cards-item__li">test 3</li>
                    </ul>
                </div>
                <div class="cards-item__img">
                    <img src="img/card-img-5.png" alt="">
                </div>
            </a>
            <a data-aos="fade-down" href="#!" class="cards-item card-item">
                <div class="cards-item__text">
                    <h4 class="cards-item__title">Test Title Six</h4>
                    <ul class="cards-item__list list-reset">
                        <li class="cards-item__li">test 1</li>
                        <li class="cards-item__li">test 2</li>
                        <li class="cards-item__li">test 3</li>
                    </ul>
                </div>
                <div class="cards-item__img">
                    <img src="img/card-img-6.png" alt="">
                </div>
            </a>
        </div>
    </div>
</section>