<section class="description-company">
    <div class="container">
        <div class="description-company__text">
            <h1 class="description-company__title">
                Lorem ipsum dolor sit amet.
            </h1>
            <p class="description-company__paragraph">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quibusdam voluptatem, saepe perferendis neque maxime nemo sunt quia dicta. Quaerat minima deleniti optio, cumque obcaecati culpa enim sint dolore ab adipisci aliquam magni? Magni similique, obcaecati doloribus officia molestias mollitia. Suscipit impedit, necessitatibus reprehenderit odit cum qui quasi quis voluptatum? Est facere repudiandae et voluptates error impedit in possimus ducimus animi. Optio qui, est placeat veritatis labore itaque laboriosam vel dolores quis eius mollitia, suscipit nostrum exercitationem neque aspernatur excepturi dignissimos unde eligendi. Numquam eveniet earum minus. Molestiae voluptas similique voluptatibus optio!
            </p>
        </div>
    </div>
</section>