<footer class="footer">
    <div class="container">
        <div class="footer-items">
            <div class="footer-item">
                <span class="footer-title">
                    Information
                </span>
                <ul class="list-reset">
                    <li class="item-li">Test 1</li>
                    <li class="item-li">Test 2</li>
                    <li class="item-li">Test 3</li>
                    <li class="item-li">Test 4</li>
                    <li class="item-li">Test 5</li>
                </ul>
            </div>
            <div class="footer-item">
                <span class="footer-title">
                    Support Team
                </span>
                <ul class="list-reset">
                    <li class="item-li">Test 6</li>
                    <li class="item-li">Test 7</li>
                    <li class="item-li">Test 8</li>
                    <li class="item-li">Test 9</li>
                    <li class="item-li">Test 10</li>
                </ul>
            </div>
            <div class="footer-item">
                <span class="footer-title">
                    Addition
                </span>
                <ul class="list-reset">
                    <li class="item-li">Test 11</li>
                    <li class="item-li">Test 12</li>
                    <li class="item-li">Test 13</li>
                    <li class="item-li">Test 14</li>
                    <li class="item-li">Test 15</li>
                </ul>
            </div>
            <div class="footer-item">
                <span class="footer-title">
                    Personal Cabinet
                </span>
                <ul class="list-reset">
                    <li class="item-li">Test 16</li>
                    <li class="item-li">Test 17</li>
                    <li class="item-li">Test 18</li>
                    <li class="item-li">Test 19</li>
                    <li class="item-li">Test 20</li>
                </ul>
            </div>
        </div>
    </div>
</footer>