<header class="header">
    <div class="header__container container">
        <div class="header__first-line">
            <div class="header__left">
                <nav class="nav header__nav">
                    <ul class="nav__list list-reset">
                        <li class="nav__item">
                            <a href="#!" class="nav__link">About Us</a>
                        </li>
                        <li class="nav__item">
                            <a href="#!" class="nav__link">Payment and Delivery</a>
                        </li>
                        <li class="nav__item">
                            <a href="#!" class="nav__link">News</a>
                        </li>
                        <li class="nav__item">
                            <a href="#!" class="nav__link">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__right">
                <div class="header__profile">
                    <a href="#!" class="header__profile-name">Personal Cabinet</a>
                    <span class="icon icon-person">
                        <img src="img/sprite.svg#person" alt="icon">
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>