<section class="slider-homepage">
    <div class="container">
        <div class="slider-homepage__block">
            <div class="slider-homepage__swiper swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slider-homepage__text-content">
                            <h1 class="slider-homepage__title">Интернет магазин уникальных стальных ножей
                            </h1>
                            <p class="slider-homepage__descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                At libero nesciunt consequuntur voluptate sint saepe voluptatibus repudiandae incidunt
                                perferendis magni aperiam eum odio nam sequi impedit, voluptates quos, accusamus maxime,
                                iste quaerat corrupti molestias in.</p>
                            <button class="slider-homepage__btn btn">Подробнее</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider-homepage__text-content">
                            <h1 class="slider-homepage__title">Интернет магазин уникальных стальных ножей
                            </h1>
                            <p class="slider-homepage__descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                At libero nesciunt
                                consequuntur voluptate sint saepe voluptatibus repudiandae incidunt perferendis magni
                                aperiam eum odio nam sequi
                                impedit, voluptates quos, accusamus maxime, iste quaerat corrupti molestias in.</p>
                            <button class="slider-homepage__btn btn">Подробнее</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider-homepage__text-content">
                            <h1 class="slider-homepage__title">Интернет магазин уникальных стальных ножей
                            </h1>
                            <p class="slider-homepage__descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                At libero nesciunt
                                consequuntur voluptate sint saepe voluptatibus repudiandae incidunt perferendis magni
                                aperiam eum odio nam sequi
                                impedit, voluptates quos, accusamus maxime, iste quaerat corrupti molestias in.</p>
                            <button class="slider-homepage__btn btn">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="slider-homepage__navigation">
                    <div class="slider-homepage__pagination swiper-pagination"></div>
                    <div class="slider-homepage__scrollbar swiper-scrollbar"></div>
                </div>
            </div>
            <div class="slider-homepage__product-image">
                <div class="slider-homepage__product-block">
                    <div class="slider-homepage__plus-one"></div>
                    <div class="slider-homepage__plus-two"></div>
                    <div class="slider-homepage__plus-three"></div>
                    <img src="img/homepage-product-img.png" alt="homepage image">
                </div>
            </div>

        </div>

        <div class="slider-homepage__icons">
            <div class="slider-homepage__icon">
                <div class="slider-homepage__icon-block">
                    <img src="img/sprite.svg#guarantee" alt="icon guarantee">
                </div>
                <span>С другой стороны укрепление и развитие структуры.</span>
            </div>
            <div class="slider-homepage__icon">
                <div class="slider-homepage__icon-block">
                    <img src="img/sprite.svg#delivery" alt="icon delivery">
                </div>
                <span>С другой стороны укрепление и развитие структуры </span>
            </div>
            <div class="slider-homepage__icon">
                <div class="slider-homepage__icon-block">
                    <img src="img/sprite.svg#clearance" alt="icon clearance">
                </div>
                <span>С другой стороны укрепление и позиции влечет за собой</span>
            </div>
            <div class="slider-homepage__icon">
                <div class="slider-homepage__icon-block">
                    <img src="img/sprite.svg#discount" alt="icon discount">
                </div>
                <span>С другой позиции влечет за собой и развитие структуры.</span>
            </div>
        </div>


    </div>
</section>
<section class="test" style="background-color: red ;">
    <div class="container"  style="color: #fff ;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore sunt explicabo, nobis est sed natus quam
        error. Voluptas cumque fuga culpa fugit nemo? Ab eum inventore harum ex et. Consectetur molestias cumque velit
        ipsam in temporibus placeat, maiores excepturi delectus, voluptas magni quos beatae asperiores quisquam odit
        obcaecati? Rem deleniti ducimus similique facere est ea ad, hic iure earum, magni suscipit tempore. Ullam eaque
        eveniet corporis quibusdam dignissimos, ipsum est facilis reiciendis, quisquam, aspernatur molestias tempore
        quasi. Alias laudantium a veritatis, debitis quis blanditiis fugit quasi quas ipsam quod esse aut qui optio
        voluptatem autem consequuntur dolor doloremque repellendus enim quidem voluptate vero non? Accusantium odio
        dolorem sapiente quo. Ipsum quo error architecto nisi, dolor suscipit deserunt? Fugit ab nostrum incidunt
        assumenda quae, saepe porro atque. Corporis dolorem non, voluptas esse enim accusamus obcaecati architecto
        quidem impedit soluta perferendis eos facere culpa hic repudiandae nesciunt quibusdam, ex eaque sunt eveniet
        nulla placeat dicta. Animi laudantium officia quos eos quasi, optio id quae autem consectetur quia, accusamus
        porro excepturi asperiores odio placeat nesciunt dolorum deleniti dicta expedita. Dolores impedit non a?
        Repellat, officia provident rerum beatae ex minus error esse temporibus voluptate quis fugiat maxime quia
        explicabo consectetur! Quo ad illo quam accusantium dolore veniam libero! Enim, omnis perferendis! Neque unde
        dolorem dolore pariatur, tempore aliquam voluptates debitis accusamus! Tenetur deleniti soluta laborum illum
        aliquid facere harum explicabo sed rem possimus ut, quam culpa at necessitatibus ipsum, vel impedit! Dolorem
        repellat necessitatibus sint illum aut tenetur recusandae eveniet doloremque non dolor?
    </div>
</section>