<section class="slider-homepage">
    <div class="container">
        <div class="slider-homepage__block">
            <div class="slider-homepage__swiper swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">text1</div>
                    <div class="swiper-slide">text2</div>
                    <div class="swiper-slide">text3</div>
                    <div class="swiper-slide">text4</div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="slider-homepage__product-image">
                <img src="img/homepage-product-img.png" alt="homepage image">
            </div>
        </div>


    </div>
</section>