<section class="homepage-description">
    <div class="container">
        <div class="description">
            <h1 class="title">Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla placeat aliquid perspiciatis quam illum
                facilis eaque vero reiciendis voluptate est, nisi ad. Aspernatur eaque libero repellendus nulla beatae
                iusto? Fuga impedit, voluptate placeat mollitia iusto vel, nam, facere maxime adipisci repellat
                assumenda natus vitae itaque quas? Voluptates quaerat facere officia dolorem hic perferendis, eligendi
                nisi.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat provident odio sed a eaque consequatur
                perferendis nostrum sint qui ut ipsum fuga tempora, corporis impedit, dolore molestiae consectetur id
                ipsam, at maxime. Quo, error natus!</p>
        </div>
    </div>
</section>