<section class="novelty novelty-second">
    <div class="container">
        <div class="novelty-blocks">
            <div class="novelty-text">
                <h1 class="novelty-title title">Novelty</h1>
                <p class="novelty-description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam ducimus alias, eligendi dolorem magni
                    hic consequatur necessitatibus nostrum? Nobis deserunt accusamus officia dignissimos illum eligendi.
                </p>
                <div class="novelty-link">
                    <a href="#!" class="novelty-watch-more">
                        Watch More
                    </a>
                </div>
            </div>
            <div class="novelty-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="bestsellers-products-item">
                            <div class="bestsellers-products-item__img">
                                <img src="img/slider-img.png" alt="slider image">
                            </div>
                            <div class="bestsellers-products-item__text">
                                <div class="bestsellers-products-item__top">
                                    <a href="product-page.html">
                                        <h1 class="sub-title">Knife unique</h1>
                                    </a>
                                    <div class="bestsellers-products-item__line">
                                        <span class="bestsellers-products-item__size">435X13</span>
                                        <span class="bestsellers-products-item__structure">walnut, aluminum</span>
                                    </div>
                                    <div class="bestsellers-products-item__line">
                                        <div class="bestsellers-products-item__stars">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                        </div>
                                        <span class="bestsellers-products-item__reviews">12 reviews</span>
                                    </div>
                                </div>
                                <div class="bestsellers-products-item__bottom">
                                    <span class="bestsellers-products-item__price">
                                        135$
                                    </span>
                                    <div class="bestsellers-products-item__icons">
                                        <span class="bestsellers-products-item__scales">
                                            <img src="img/sprite.svg#scales" alt="icon scales">
                                        </span>
                                        <a href="#!" class="bestsellers-products-item__favorites">
                                            <img src="img/sprite.svg#favorites-yellow" alt="icon favorite">
                                        </a>
                                    </div>
                                </div>
                                <button class="bestsellers-products-item__btn btn-yellow" type="submit">Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bestsellers-products-item">
                            <div class="bestsellers-products-item__img">
                                <img src="img/slider-img.png" alt="slider image">
                            </div>
                            <div class="bestsellers-products-item__text">
                                <div class="bestsellers-products-item__top">
                                    <a href="product-page.html">
                                        <h1 class="sub-title">Knife unique</h1>
                                    </a>
                                    <div class="bestsellers-products-item__line">
                                        <span class="bestsellers-products-item__size">435X13</span>
                                        <span class="bestsellers-products-item__structure">walnut, aluminum</span>
                                    </div>
                                    <div class="bestsellers-products-item__line">
                                        <div class="bestsellers-products-item__stars">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                        </div>
                                        <span class="bestsellers-products-item__reviews">12 reviews</span>
                                    </div>
                                </div>
                                <div class="bestsellers-products-item__bottom">
                                    <span class="bestsellers-products-item__price">
                                        135$
                                    </span>
                                    <div class="bestsellers-products-item__icons">
                                        <span class="bestsellers-products-item__scales">
                                            <img src="img/sprite.svg#scales" alt="icon scales">
                                        </span>
                                        <a href="#!" class="bestsellers-products-item__favorites">
                                            <img src="img/sprite.svg#favorites-yellow" alt="icon favorite">
                                        </a>
                                    </div>
                                </div>
                                <button class="bestsellers-products-item__btn btn-yellow" type="submit">Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bestsellers-products-item">
                            <div class="bestsellers-products-item__img">
                                <img src="img/slider-img.png" alt="slider image">
                            </div>
                            <div class="bestsellers-products-item__text">
                                <div class="bestsellers-products-item__top">
                                    <a href="product-page.html">
                                        <h1 class="sub-title">Knife unique</h1>
                                    </a>
                                    <div class="bestsellers-products-item__line">
                                        <span class="bestsellers-products-item__size">435X13</span>
                                        <span class="bestsellers-products-item__structure">walnut, aluminum</span>
                                    </div>
                                    <div class="bestsellers-products-item__line">
                                        <div class="bestsellers-products-item__stars">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                        </div>
                                        <span class="bestsellers-products-item__reviews">12 reviews</span>
                                    </div>
                                </div>
                                <div class="bestsellers-products-item__bottom">
                                    <span class="bestsellers-products-item__price">
                                        135$
                                    </span>
                                    <div class="bestsellers-products-item__icons">
                                        <span class="bestsellers-products-item__scales">
                                            <img src="img/sprite.svg#scales" alt="icon scales">
                                        </span>
                                        <a href="#!" class="bestsellers-products-item__favorites">
                                            <img src="img/sprite.svg#favorites-yellow" alt="icon favorite">
                                        </a>
                                    </div>
                                </div>
                                <button class="bestsellers-products-item__btn btn-yellow" type="submit">Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bestsellers-products-item">
                            <div class="bestsellers-products-item__img">
                                <img src="img/slider-img.png" alt="slider image">
                            </div>
                            <div class="bestsellers-products-item__text">
                                <div class="bestsellers-products-item__top">
                                    <a href="product-page.html">
                                        <h1 class="sub-title">Knife unique</h1>
                                    </a>
                                    <div class="bestsellers-products-item__line">
                                        <span class="bestsellers-products-item__size">435X13</span>
                                        <span class="bestsellers-products-item__structure">walnut, aluminum</span>
                                    </div>
                                    <div class="bestsellers-products-item__line">
                                        <div class="bestsellers-products-item__stars">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                        </div>
                                        <span class="bestsellers-products-item__reviews">12 reviews</span>
                                    </div>
                                </div>
                                <div class="bestsellers-products-item__bottom">
                                    <span class="bestsellers-products-item__price">
                                        135$
                                    </span>
                                    <div class="bestsellers-products-item__icons">
                                        <span class="bestsellers-products-item__scales">
                                            <img src="img/sprite.svg#scales" alt="icon scales">
                                        </span>
                                        <a href="#!" class="bestsellers-products-item__favorites">
                                            <img src="img/sprite.svg#favorites-yellow" alt="icon favorite">
                                        </a>
                                    </div>
                                </div>
                                <button class="bestsellers-products-item__btn btn-yellow" type="submit">Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bestsellers-products-item">
                            <div class="bestsellers-products-item__img">
                                <img src="img/slider-img.png" alt="slider image">
                            </div>
                            <div class="bestsellers-products-item__text">
                                <div class="bestsellers-products-item__top">
                                    <a href="product-page.html">
                                        <h1 class="sub-title">Knife unique</h1>
                                    </a>
                                    <div class="bestsellers-products-item__line">
                                        <span class="bestsellers-products-item__size">435X13</span>
                                        <span class="bestsellers-products-item__structure">walnut, aluminum</span>
                                    </div>
                                    <div class="bestsellers-products-item__line">
                                        <div class="bestsellers-products-item__stars">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                            <img src="img/star.svg" alt="icon star">
                                        </div>
                                        <span class="bestsellers-products-item__reviews">12 reviews</span>
                                    </div>
                                </div>
                                <div class="bestsellers-products-item__bottom">
                                    <span class="bestsellers-products-item__price">
                                        135$
                                    </span>
                                    <div class="bestsellers-products-item__icons">
                                        <span class="bestsellers-products-item__scales">
                                            <img src="img/sprite.svg#scales" alt="icon scales">
                                        </span>
                                        <a href="#!" class="bestsellers-products-item__favorites">
                                            <img src="img/sprite.svg#favorites-yellow" alt="icon favorite">
                                        </a>
                                    </div>
                                </div>
                                <button class="bestsellers-products-item__btn btn-yellow" type="submit">Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination novelty__pagination"></div>
            </div>
        </div>
    </div>
</section>