<section class="novelty">
    <div class="container">
        <h1 class="title">Novelty</h1>
        <div class="novelty-text">
            <p class="novelty-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus laborum ratione minima doloremque nam eveniet minus veritatis repudiandae culpa tenetur vero, tempora accusamus quisquam eligendi odio ipsa. Obcaecati saepe ex sint, facere fuga qui autem. Amet quae a, dolore, iste accusantium culpa vero cum nihil voluptates numquam quas sequi voluptatum maiores corporis at totam! Delectus fugiat reprehenderit sapiente. Sapiente sint fugit non maiores adipisci amet ab, sunt quas quo doloribus dolor ea, at corporis minus.
            </p>
            <span class="novelty-watch-more">
                Watch More Novelty
            </span>
        </div>
        <div class="novelty-slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    
                </div>
            </div>
        </div>
    </div>
</section>