<section class="product-tabs">
    <div class="container">
        <ul class="tabs-items js-tabs list-reset">
            <li><a href="#!" class="item-tab js-tabs-item description">
                    Description
                </a></li>
            <li><a href="#!" class="item-tab js-tabs-item characteristic">
                    Characteristic
                </a></li>
            <li><a href="#!" class="item-tab js-tabs-item feedback">
                    Feedback
                </a></li>
            <li><a href="#!" class="item-tab js-tabs-item delivery">
                    Delivery
                </a></li>
        </ul>
        <div class="js-tabs-body">

        </div>
    </div>
</section>