<section class="product-tabs">
    <div class="container">
        <div class="product-tabs__container">
            <ul class="tabs-items js-tabs list-reset">
                <li><a href="#!" class="item-tab js-tabs-head-item description-tab ">
                        Description
                    </a></li>
                <li><a href="#!" class="item-tab js-tabs-head-item characteristic-tab">
                        Characteristic
                    </a></li>
                <li><a href="#!" class="item-tab js-tabs-head-item feedback-tab active">
                        Feedback
                    </a></li>
                <li><a href="#!" class="item-tab js-tabs-head-item delivery-tab">
                        Delivery
                    </a></li>
            </ul>
            <div class="line"></div>
            <div class="js-tabs-body">
                <div data-tab="description" class="description js-tabs-body-item ">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi in dolorem inventore possimus
                        velit modi maiores ea veniam accusantium, <b>
                            atque veritatis neque tempora suscipit
                        </b> perspiciatis distinctio unde quisquam! Magni, beatae ea excepturi vitae soluta eveniet.
                    </p>
                    <p>
                        <b> Lorem ipsum dolor sit amet </b>
                        possimus
                        velit modi maiores ea veniam accusantium,
                        atque veritatis neque tempora suscipit
                        perspiciatis distinctio unde quisquam! Magni, beatae ea excepturi vitae soluta eveniet.
                    </p>
                </div>
                <div data-tab="characteristic" class="characteristic js-tabs-body-item">
                    <div class="item">
                        <span class="sub-title">Specifications</span>
                        <div class="container-lists">
                            <ul class="list-reset">
                                <li>Total length, mm:</li>
                                <li>Blade length, mm:</li>
                                <li>Blade width, mm:</li>
                                <li>All length mm:</li>
                            </ul>
                            <ul class="list-reset">
                                <li>1</li>
                                <li>235</li>
                                <li>453</li>
                                <li>324D</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <span class="sub-title">Materials used</span>
                        <div class="container-lists">
                            <ul class="list-reset">
                                <li>Total length, mm:</li>
                                <li>Blade length, mm:</li>
                            </ul>
                            <ul class="list-reset">
                                <li>1</li>
                                <li>235</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <span class="sub-title">Production</span>
                        <div class="container-lists">
                            <ul class="list-reset">
                                <li>Total length, mm:</li>
                                <li>Blade length, mm:</li>
                            </ul>
                            <ul class="list-reset">
                                <li>1</li>
                                <li>235</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div data-tab="feedback" class="feedback js-tabs-body-item active">
                    <!-- Not available -->
                    <!-- <p class="description">Current product not available
                        <button class="btn write-review">Write review</button>
                    </p> -->
                    <!-- Not available -->
                    <div class="feedback-item">
                        <div class="feedback-item__head">
                                <img src="img/feedback-user.png" class="avatar" alt="feedback-user">
                            <div class="feedback-item__heading">
                                <div class="name-star">
                                    <span class="name">
                                        Test Title
                                    </span>
                                    <div class="stars">
                                        <img src="img/star.svg" alt="icon star">
                                        <img src="img/star.svg" alt="icon star">
                                        <img src="img/star.svg" alt="icon star">
                                        <img src="img/star.svg" alt="icon star">
                                        <img src="img/star.svg" alt="icon star">
                                    </div>
                                </div>
                            </div>
                            <div class="date">
                                29.06.2022
                            </div>
                        </div>
                        <div class="item-body">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore maiores doloremque in id, labore harum eligendi temporibus. Ipsum accusantium itaque facere eveniet. Aspernatur magnam provident debitis eveniet nihil inventore, saepe nisi ea amet nostrum pariatur impedit nobis quasi sed beatae harum asperiores possimus quaerat ut excepturi. Unde, voluptatum eius vitae doloremque laudantium rem non quidem?
                        </div>
                    </div>
               
                    <div class="feedback-item">
                        <div class="feedback-item__head">
                                <img src="img/feedback-user-2.png" class="avatar" alt="feedback-user">
                            <div class="feedback-item__heading">
                                <div class="name-star">
                                    <span class="name">
                                        Second Title
                                    </span>
                                    <div class="stars">
                                        <img src="img/star.svg" alt="icon star">
                                        <img src="img/star.svg" alt="icon star">
                                        <img src="img/star.svg" alt="icon star">
                                        <img src="img/star.svg" alt="icon star">
                                        <img src="img/star.svg" alt="icon star">
                                    </div>
                                </div>
                            </div>
                            <div class="date">
                                5.12.2022
                            </div>
                        </div>
                        <div class="item-body">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore maiores doloremque in id, labore harum eligendi temporibus. Ipsum accusantium itaque facere eveniet. Aspernatur magnam provident debitis eveniet nihil inventore, saepe nisi ea amet nostrum pariatur impedit nobis quasi sed beatae harum asperiores possimus quaerat ut excepturi. Unde, voluptatum eius vitae doloremque laudantium rem non quidem?
                        </div>
                    </div>
                </div>
                <div data-tab="delivery" class="delivery js-tabs-body-item">
                    delivery
                </div>
            </div>
        </div>
    </div>
</section>