<section class="product-information">
    <div class="container">
        <div class="product-information__breadcrumbs">
            <a href="index.html" class="breadcrumbs-link breadcrumbs-homepage">Homepage</a>
            <span class="divide">></span>
            <a href="shop.html" class="breadcrumbs-link">Blade Knifes</a>
            <span class="divide">></span>
            <a href="#!" class="breadcrumbs-link">Knife</a>
        </div>
        <div class="product-information__top">
            <div class="product-information__left-side">
                <div class="product-information__slider">
                    <div class="swiper mySwiperGallery2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="img/galleryImg.png" alt="img gallery">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/galleryImg2.png" alt="img gallery">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/galleryImg3.png" alt="img gallery">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/galleryImg4.png" alt="img gallery">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/galleryImg5.png" alt="img gallery">
                            </div>
                        </div>
                    </div>
                    <div thumbSlider="" class="swiper mySwiperGallery1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="img/galleryImg.png" alt="img gallery">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/galleryImg2.png" alt="img gallery">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/galleryImg3.png" alt="img gallery">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/galleryImg4.png" alt="img gallery">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/galleryImg5.png" alt="img gallery">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-information__right-side">

            </div>
        </div>
    </div>
</section>