<section class="product-information">
    <div class="container">
        <div class="product-information__container">


            <div class="product-information__breadcrumbs">
                <a href="index.html" class="breadcrumbs-link breadcrumbs-homepage">Homepage</a>
                <span class="divide">></span>
                <a href="shop.html" class="breadcrumbs-link">Blade Knifes</a>
                <span class="divide">></span>
                <a href="#!" class="breadcrumbs-link">Knife</a>
            </div>
            <div class="product-information__top">
                <div class="product-information__left-side">
                    <div class="product-information__slider">
                        <div class="swiper mySwiperGallery2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="img/galleryImg.png" alt="img gallery">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/galleryImg2.png" alt="img gallery">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/galleryImg3.png" alt="img gallery">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/galleryImg4.png" alt="img gallery">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/galleryImg5.png" alt="img gallery">
                                </div>
                            </div>
                        </div>
                        <div thumbSlider="" class="swiper mySwiperGallery1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="img/galleryImg.png" alt="img gallery">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/galleryImg2.png" alt="img gallery">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/galleryImg3.png" alt="img gallery">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/galleryImg4.png" alt="img gallery">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/galleryImg5.png" alt="img gallery">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-information__right-side">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae eligendi doloremque, corporis
                    non
                    accusamus ea iusto eius optio. Voluptates quas quo molestias rem quae mollitia quis quibusdam nulla,
                    labore rerum obcaecati ex facere facilis earum. Minima repellat quam, mollitia eaque doloribus
                    facere
                    quasi! Assumenda rerum ipsam sint necessitatibus odit, voluptatem nisi esse nobis libero, labore,
                    nihil
                    a reprehenderit. Hic accusantium incidunt totam ab debitis laboriosam, veritatis natus a repellat
                    fugit
                    delectus aliquid ex sapiente tempore aut eveniet voluptatibus magnam eos veniam, unde beatae
                    voluptatem
                    in maxime. Et expedita nisi ad hic nihil quas recusandae voluptatem provident commodi illo eveniet
                    neque
                    asperiores perspiciatis quod aliquam quos magnam maiores quibusdam eligendi sapiente incidunt,
                    mollitia
                    natus? Consectetur eos maiores explicabo aliquid tempore sint adipisci quisquam. Cum, ex quibusdam?
                </div>
            </div>
        </div>
    </div>
</section>