<section class="shop-category">
    <div class="container">
        <div class="shop-category__information">
            <h1 class="shop-category__title title">Blade Knifes</h1>
            <div class="shop-category__second-row">
                <div class="shop-category__breadcrumbs">
                    <a href="#!" class="breadcrumbs-link">Homepage</a>
                    <span class="divide">></span>
                    <a href="#!" class="breadcrumbs-link">Blade Knifes</a>
                </div>
                <div class="shop-category__sortby">
                    <select class="filter-style select-item">
                        <option value="">Popularity</option>
                        <option value="">Newness</option>
                        <option value="">Rating</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>