<section class="shop-catalog">
    <div class="container grid">
        <div class="shop-catalog__left">
            <div class="shop-catalog__filters">

                <div class="shop-catalog__filter">
                    <h2 class="shop-catalog__filter-products">Filter products</h2>
                    <p class="shop-catalog__filter-price">Price</p>
                    <div class="shop-catalog__content">
                        <div class="shop-catalog__wrapper">
                            <input type="text" class="shop-catalog__input" id="input-0">
                            <input type="text" class="shop-catalog__input" id="input-1">
                        </div>
                        <div class="shop-catalog__price-element price-element" id="range-slider"></div>
                    </div>
                </div>

                <div class="shop-catalog__filter">
                    <h2 class="shop-catalog__filter-products arrow-products">Production</h2>
                    <div class="shop-catalog__filter-boxes">

                        <div class="shop-catalog__filter-box">
                            <label class="label-box">
                                <input type="radio" name="radio" class="filter-style">
                                Test 1
                                <span class="count">(5)</span>
                            </label>
                        </div>
                        <div class="shop-catalog__filter-box">
                            <label class="label-box">
                                <input type="radio" name="radio" class="filter-style">
                                Test 2
                                <span class="count">(9)</span>
                            </label>
                        </div>
                        <div class="shop-catalog__filter-box">
                            <label class="label-box">
                                <input type="radio" name="radio" class="filter-style">
                                Test 3
                                <span class="count">(12)</span>
                            </label>
                        </div>
                        <div class="shop-catalog__filter-box">
                            <label class="label-box">
                                <input type="radio" name="radio" class="filter-style">
                                Test 4
                                <span class="count">(32)</span>
                            </label>
                        </div>
                        <div class="shop-catalog__filter-box">
                            <label class="label-box">
                                <input type="radio" name="radio" class="filter-style">
                                Test 5
                                <span class="count">(86)</span>
                            </label>
                        </div>
                        <div class="shop-catalog__filter-box">
                            <label class="label-box">
                                <input type="radio" name="radio" class="filter-style">
                                Test 6
                                <span class="count">(65)</span>
                            </label>
                        </div>
                        <div class="shop-catalog__filter-box">
                            <label class="label-box">
                                <input type="radio" name="radio" class="filter-style">
                                Test 7
                                <span class="count">(35)</span>
                            </label>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="shop-catalog__right">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus aliquam voluptate expedita,
            culpa
            ullam doloribus ab nihil tenetur. In rerum sint eaque labore, iste accusamus dolore perferendis, eos
            porro
            odit eum iusto aspernatur possimus, optio quasi rem qui amet sit nihil temporibus. Iste sequi error iure
            dolores, quibusdam sed provident! Adipisci corporis praesentium voluptate voluptatem tenetur pariatur
            voluptas id molestiae temporibus hic eveniet doloremque, facilis corrupti, architecto, consectetur rem
            odio
            possimus laboriosam dolor aliquam impedit facere sint. Neque dolore voluptas incidunt explicabo suscipit
            odit ducimus adipisci aliquid nulla corrupti, numquam laboriosam similique at assumenda quam in,
            cupiditate
            animi pariatur ea quidem dolorem, nam ex cumque. Laudantium, labore beatae corrupti officiis, quidem
            autem
            cupiditate dolor ad id dolorum saepe sit quisquam ex. Ex omnis voluptatem, minus aliquam commodi ipsum
            labore esse nam delectus maxime libero deserunt animi quaerat a ipsa accusamus! Beatae sint facere totam
            officiis, magnam dolorem cumque a consequuntur.
        </div>
    </div>
</section>