@import "./vars";
@import "./mixins";


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1568px;
    margin: 0 auto;
    padding: 0 15px;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

// .grid-menu {
//     display: grid;
//     grid-template-columns: repeat(8, 1fr);
// }

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.input {
    background: rgba(7, 7, 7, 0.03);
    padding-left: 43px;
    border-radius: 3px;
    width: 100%;
    outline: none;
    height: 41px;
    transition: all .3s ease-out;
}

.btn {
    background-color: $tuliptree;
    box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    color: #fff;
    transition: opacity 0.3s ease-in-out;
    border: none;

    &:hover {
        opacity: 0.9;
    }
}

.title {
    font: $bold-book-high;
    letter-spacing: 0.05em;
    color: $codgray;
}

.sub-title {
    color: $codgray;
    font: $middle-book-higher;
    text-transform: capitalize;
}

.btn-yellow {
    background-color: $tuliptree;
    color: #fff;
    width: 100%;
    box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
    border-radius: 3px;
    outline: none;
    border: none;
    font: $middle-book-high;
    padding: 17px 0;
    text-align: center;
    cursor: pointer;

    &::after {
        content: "";
        background: url('../img/cart-white.svg') no-repeat;
        width: 27px;
        height: 27px;
        position: absolute;
        margin-left: 15px;
        margin-top: -4px;
    }
}

.text-above {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media(max-width: 1620px) {
    .text-above {
        margin: 0 25px;
    }

    .flashlights {
        .text-above {
            margin: 0 35px;

            .catalog {
                &::after {
                    content: "";
                    left: 155px;
                }
            }
        }
    }

    .promotions {
        .text-above {
            margin: 0 35px;

            .catalog {
                &::after {
                    content: "";
                    left: 145px;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .text-above {
        .title {
            margin: 0 auto;
        }

        .catalog {
            display: none;
        }
    }

    .promotions .bestsellers-products__pagination,
    .flashlights .bestsellers-products__pagination {
        display: none;
    }
}

@media(min-width: 650px) {

    .text-above-adaptive {
        display: none;
    }
}

@media(max-width: 650px) {
    .text-above-adaptive {
        margin: 0 auto;
        text-align: center;
    }
}

.catalog {
    font: $middle-book-high;
    letter-spacing: 0.05em;
    color: rgba(20, 20, 20, 0.58);
    position: relative;

    &::after {
        content: "";
        background-image: url('../img/sprite.svg#arrow');
        background-repeat: no-repeat;
        position: absolute;
        top: 6px;
        left: 143px;
        transform: rotate(270deg);
        width: 16px;
        height: 10px;
    }
}




.info-dropdown {
    .jq-selectbox {
        width: 100%;
    }

    .jq-selectbox__select {
        width: 80%;
        background: #fff;
        height: 40px;
        padding: 0 45px 0 10px;
        border: 1px solid rgba(4, 4, 4, 0.15);
        border-radius: 3px;
        box-shadow: unset;
        font: $small-book;
        font-size: 14px;
        line-height: 39px;
        color: rgba(20, 20, 20, 0.5);
        text-shadow: unset;

        &:hover {
            background: unset;
        }
    }

    .jq-selectbox__dropdown {
        width: 90%;
    }

    .jq-selectbox li:hover {
        background-color: $codgray;
    }

    .jq-selectbox li.selected {
        background-color: $codgray;
    }

    .jq-selectbox__trigger {
        background-color: $codgray;
    }

    .jq-selectbox__trigger-arrow {
        position: absolute;
        top: 14px;
        right: 24px;
        width: 0;
        height: 0;
        border-top: unset;
        border-right: unset;
        border-left: unset;

        &::after {
            content: "";
            width: 16px;
            height: 10px;
            position: relative;
            display: block;
            background: url('../img/sprite.svg#arrow') no-repeat;
        }
    }
}

.jq-selectbox {
    z-index: 5;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -234px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #f9f9f9;
    z-index: 12;
    width: 234px;
    overflow: auto;
    max-width: 100%;
    transition: all .3s linear;
}

.sidebar.active {
    right: 0;
    z-index: 370;
    overflow-y: auto;
}

.activeBody {
    overflow: hidden;
    height: 100vh;
}

body.activeBody .main-wrapperOverflow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(26, 26, 26, 0.8);
    z-index: 350;
    bottom: 0;
    display: block;
}

.main-wrapperOverflow {
    display: none;
}

.hamburger:hover .hamburger-bar,
.hamburger:hover:after,
.hamburger:hover:before {
    background-color: $tuliptree;
}

.hamburger.is-active:hover:after,
.hamburger.is-active:hover:before {
    background-color: $tuliptree;
}


::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: $codgray;
}

::-webkit-scrollbar-thumb {
    background-repeat: 9rem;
    background-color: $tuliptree;
}


.loader-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $codgray;
    z-index: 9990000;
    overflow: hidden;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.ball-rotate {
    position: relative;
    transform: scale(2);
}

.ball-rotate>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    animation-fill-mode: both;
    position: relative;
}

.ball-rotate>div:first-child {
    animation: rotate 1s 0s cubic-bezier(0.7, -0.13, 0.22, 0.86) infinite;
}

.ball-rotate>div:before,
.ball-rotate>div:after {
    content: "";
    background-color: $tuliptree;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    position: absolute;
    opacity: 0.8;
}

.ball-rotate>div:before {
    top: 0;
    left: -28px;
}

.ball-rotate>div:after {
    top: 0;
    left: 25px;
}