$codgray: #141414;
$tuliptree: #E8AA31;
$silver: #ABABAB;
$gray: #898989;

$font-family: 'Montserrat', sans-serif;

$small-book: 500 16px / 20px $font-family;
$small-book-premiddle: 500 18px/ 27px $font-family;
$small-book-middle: 500 20px / 20px $font-family;
$small-book-high: 500 36px / 20px $font-family;
$middle-book: 600 16px / 21px $font-family;
$middle-book-high: 600 18px / 21px $font-family;
$middle-book-higher: 600 20px / 21px $font-family;
$bold-book-middle: 700 16px / 19px $font-family;
$bold-book: 700 18px / 21px $font-family;
$bold-book-high: 700 30px / 46px $font-family;