$codgray: #141414;
$tuliptree: #E8AA31;


$font-family: 'Montserrat', sans-serif;

$small-book: 500 16px / 20px $font-family;
$middle-book: 600 16px / 21px $font-family;
$middle-book-high: 600 18px / 21px $font-family;
$bold-book: 700 18px / 21px $font-family;
$bold-book-middle: 700 16px / 19px $font-family;